.select {
   border: 1px solid rgb(164, 169, 173);
   background-color: rgb(255, 255, 255);
   height: 27px;
   padding: 0 27px 0 10px;
   border-radius: 5px;
   font-size: .9rem;
   outline: none;
   transition: .3s;
   width: fit-content;
   -webkit-appearance: none;
   /* Hapus arrow di Safari/Chrome */
   -moz-appearance: none;
   /* Hapus arrow di Firefox */
   appearance: none;
   font-family: "Poppins", sans-serif;
   font-weight: 400;
   font-style: normal;
}

.select:focus {
   border: 1px solid rgb(0, 85, 197);
   box-shadow: 0px 0px 0px 4px rgba(108, 135, 255, 0.226);
   transition: .3s;
}

.select:focus~.icon {
   color: rgb(0, 85, 197);
}

.select:hover {
   border: 1px solid rgb(0, 85, 197);
   transition: .3s;

}

.icon {
   position: absolute;
   right: .1rem;
   top: .14rem;
   pointer-events: none;
   color: rgb(112, 118, 138);
}

.select_con {
   position: relative;
}