/* NAV */



nav {
   background-color: #fff;
   height: 30px;
   width: 100%;
   border-radius: 5px;
   position: fixed;
   top: 0;
   z-index: 1;
}

.nav_con {
   width: 40%;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.nav_menu {
   list-style: none;
   /* Menghilangkan bullet pada ul */
   display: flex;
   /* Menampilkan menu secara horizontal */
   padding: 0;
   /* Menghilangkan padding default ul */
   margin: 0;
   /* Menghilangkan margin default ul */
}

.nav_menu li {
   margin-left: 20px;
   /* Memberikan jarak antar item menu */
   cursor: pointer;
   /* Menambahkan pointer ketika dihover */
   font-size: .9rem;
}

.nav_menu li.active {
   color: red;
   height: 100%;
}

.nav_menu li:hover {
   color: #034fa1;
   /* Warna berubah ketika dihover */
}




/* BASE */
.con {
   /* border: 1px solid red; */
   margin: 0 auto;
   width: 40%;
   padding: 50px 0;
}

.hero_title {
   margin: 40px 0;
}



.paper {
   display: flex;
   gap: 30px;
   background-color: white;
   padding: 10px;
   border-radius: 10px;
}

.name {
   font-size: 1.4rem;
}


.active-status {
   color: green;
   /* Warna untuk status aktif */
}

.inactive-status {
   color: red;
   /* Warna untuk status tidak aktif */
}

.material-symbols-rounded {
   font-size: 1.2rem;
}



.pic {
   border-radius: 5px;
   overflow: hidden;
   width: 100px;
   height: 100px;
   display: flex;
   justify-content: center;
   align-items: center;
   background-size: cover;
}

.pic img {
   width: 100%;   
   height: 100%;  
   object-fit: cover;
}



.detail {
   font-size: .9rem;
   display: flex;
   gap: 5px;

   position: absolute;
   top: 0;
   right: 0;
}